extends ./layout/layout.pug

block content
  #myCarousel.carousel.slide(data-ride='carousel')
    .carousel-inner
      .item.active
        img(src='assets/images/2017_JULY/slider0.jpg')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider1.png')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider2.png')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider3.png')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider4.png')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider5.png')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider6.png')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider7.png')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider8.jpg')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider9.jpg')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider10.jpg')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider11.jpg')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider12.jpg')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider13.jpg')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider14.jpg')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider15.jpg')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider16.jpg')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider17.jpg')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider18.jpg')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider19.jpg')
      //- item
      .item
        img(src='assets/images/2017_JULY/slider20.jpg')
      //- item
    //- carousel-inner
  //- myCarousel

block scripts
  // External Script goes here...
  script.
    $(document).ready(function() {
      $('.carousel').carousel({
        interval: 5000,
        pause: null
      });
    });
