extends ./layout/layout.pug

block content
  #myCarousel.carousel.slide(data-ride='carousel')
    .carousel-inner
      .item.active
        img(src='assets/images/2017_AUGUST/slider0.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider1.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider2.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider3.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider4.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider5.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider6.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider7a.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider7b.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider8.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider9.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider10.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider11.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider12.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider13.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider14.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider15.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider16.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider17.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider18.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider19.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider19a.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider20.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider21.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider22.png')
      //- item
      .item
        img(src='assets/images/2017_AUGUST/slider23.png')
      //- item
      .item.announcement
        h1
          span SSS&nbsp;
          | Seminar
        p.lead Friday, August	11th @4pm-5pm
      //- item
    //- carousel-inner
  //- myCarousel

block scripts
  // External Script goes here...
  script.
    $(document).ready(function() {
      $('.carousel').carousel({
        interval: 5000,
        pause: null
      });
    });
