extends ./layout/layout.pug

block content
  #myCarousel.carousel.slide(data-ride='carousel')
    .carousel-inner
      .item.active
        img(src='assets/images/2017_AUG_SEP/slide00.png')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide01.jpg')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide02.jpg')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide03.jpg')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide04.jpg')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide05.jpg')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide06.jpg')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide06b.jpg')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide07.png')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide08.jpg')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide09.jpg')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide10.jpg')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide11.jpg')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide12.jpg')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide13.jpg')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide14.jpg')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide15.png')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide16.png')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide17.png')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide18.png')
      //- item
      .item
        img(src='assets/images/2017_AUG_SEP/slide19.png')
      //- item
      
      //- .item.announcement
      //-   h1
      //-     span SSS&nbsp;
      //-     | Seminar
      //-   p.lead Friday, August	11th @4pm-5pm
      //- //- item
      
    //- carousel-inner
  //- myCarousel

block scripts
  // External Script goes here...
  script.
    $(document).ready(function() {
      $('.carousel').carousel({
        interval: 5000,
        pause: null
      });
    });
